*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #0e0d0d;
    color: #fff;
}

header {
    width: 100%;
    background-color: #333333 ;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 26px;
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
 
.herosection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding: 40px;
}

.heading {
    font-size: 40px;    
    padding-bottom: 24px;
}

.Name{
    font-size: 50px;
}

.herosection p{
    font-size: 18px;
    font-weight: 500;
    width: 600px;
    line-height: 26px;
    text-align: justify;
}

.primary_btn{
    background-color: aqua;
    color: #333333;
    border: none;
    margin-top: 40px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 30px;
    margin-right: 20px;
}

.primary_btn a{
    text-decoration: none;
}

.secondary_btn{
    background-color: #0e0d0d;
    border: 2px solid  aqua;
    color: aqua;
    margin-top: 40px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 30px;
    transition: .3s;
}

.secondary_btn a{
    text-decoration: none;
    color: aqua;
}


.Aboutsvg {
    width: 800px;
    height: 600px;
    flex: 1;
    transition: 1s;
}

.Aboutsvg:hover{
    opacity: 20%;
    transform: scale(60%);
}

.portfoliologo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dribble{
    width: 200px;
    margin-right: 60px;
    transition: .5s;
}

.behance{
    width: 80px;
    transition: .5s;
}

.dribble:hover{
    transform: scale(60%);

}

.behance:hover{
    transform: scale(60%);

}

.Heading1 {
    font-size: 50px;
    margin-top: 60px;
    text-align: center;
}

.Service_Section{
    display: flex;
    justify-content: center;
}

.service_card{
    border-radius: 14px;
    background-color: #333333;
    margin: 0 16px 0 0;
    padding: 30px;
    margin-top: 30px;
    transition: .3s;

}

.Service_desc{
    margin-top: 14px;
    width: 280px;
    line-height: 24px;

}

.Service_icon {
    margin-bottom: 20px;
    width: 100px;
}

.Service_btn{
    background-color: aqua;
    color: #333333;
    border: none;
    margin-top: 60px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 30px;

}

.service_card:hover{
    background-color: #0e0d0d;
    border: 3px solid aqua;

}